html {
    min-height: 100vh!important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}

body {
  background: #616161 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #616161) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #c7f7f4, #1e5972) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}

  header {
    background-color: #DFB887!important;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }

  .container {
    width: 900px;
    margin: 0 auto;
  }
 

 .button {

    width: 100px;
    height: 40px;

  }
  

.ui.segment {

    background: none !important;
    
}

body::-webkit-scrollbar {
  display: none;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar {

  height: 75px;
  border-radius: 0px;
}

.display-1 {
  font-size: 140px !important;
}

.bg-body {

  --bs-bg-opacity: 70% !important;
  background-color: rgb(255, 255, 255) !important;
  width: 100%;
}


.row {

  width: 150% !important;
  justify-content: center !important;
  justify-items: center !important;
}

.btn-default {
  background-color: black !important;
  color: white !important;
  width: 100% !important;
}

.row {

  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}


#ntcmplt {

  pointer-events: none !important;
}

#cmplt {

  pointer-events: none !important;
  height: 35px !important;
  font-size: 15px !important;
}

.class { 
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}


#imprtnt, #notimprtnt {
  padding: 0rem!important;
}

.todotitle {

  font-size: 16px !important;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important; 
}


.text-center {

  font-size: 21px !important;
}


.ui.table {

  
  background-color: transparent !important;
  width: 100vh !important;
}


.ui.vertical.menu.fluid {

  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 5%);
background-color: rgb(228 228 228 / 15%); 
font-size: 17px;
}

.header.item {

  background-color: rgb(255, 255, 255) !important;
  opacity: 1;
}

