@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300&display=swap');


html {
  font-family: 'Palanquin', sans-serif !important;
    height: 100% !important;
    overflow-x: hidden;

}

.control-label, .btn-default {
  font-family: 'Palanquin', sans-serif !important;
  font-weight: lighter !important;
}


body {


  font-family: 'Palanquin', sans-serif !important;
	height: 100vh;
  overflow-x: hidden;
}




  header {
    background-color: #DFB887!important;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
  }
 

 .button {

    width: 100px;
    height: 40px;

  }
  

.ui.segment {

    background: none !important;
    
}

body::-webkit-scrollbar {
  display: none;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar {

  height: 75px;
  border-radius: 0px;
}

.display-1 {
  font-size: 140px !important;
}

.bg-body {

  --bs-bg-opacity: 30% !important;
  background-color: rgb(255, 255, 255) !important;
  width: 100%;
  backdrop-filter:calc(155px);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.466);
  border-width: 2px;
  border-top-left-radius: 0.375rem !important; /* 6px */
  border-top-right-radius: 0.375rem !important; /* 6px */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
}


.row {

  width: 100% !important;
}

.btn-default {
  background-color: black !important;
  color: white !important;
  width: 100% !important;
}



#ntcmplt {
  background-color: rgb(255, 255, 255);
  backdrop-filter:calc(5px);
  pointer-events: none !important;
  height: 32px;
}

#cmplt {

  pointer-events: none !important;
  background-color: rgb(159, 247, 159);
  border-color:rgb(159, 247, 159);
  height: 32px;
}

.class { 
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}


#imprtnt, #notimprtnt {
  padding: 0rem!important;
}

.todotitle {

  font-size: 18px !important;
  color: rgb(255, 255, 255);
}


.text-center {

  font-size: 21px !important;
}


.ui.table {

  
  background-color: transparent !important;
  width: 100vh !important;
}


.ui.vertical.menu.fluid {

  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 5%);
background-color: rgb(228 228 228 / 15%); 
font-size: 17px;
}

.header.item {

  background-color: rgb(255, 255, 255) !important;
  opacity: 1;
}

ul {
  list-style: none;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
}

.nav .logo {
  flex: 1;
  font-size: 18px;
  letter-spacing: 0;
}

.nav .menu {
  flex: 1;
  font-size: 18px;
}

.nav .collection {
  flex: 1;
}

.nav .explore {
  flex: 4;
}

.nav .search {
  flex: 3;
}

.nav .profile {
  flex: 0;
}

.nav .profile .img {
  background-image: url('./img/profile.png');
  background-position: 50%;
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}


.info {
  position: absolute;
  bottom: 0;
  left: 180px;
  background: rgba(0, 0, 0, .8);
  padding: 0 10px;
}

.info ul li {
  display: inline-block;
  padding: 20px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
}

.info i {
  font-size: 18px;
}

.text {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translateY(-43%);
}

.text h1 {
  font-size: 70px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
  font-family: 'Palanquin', sans-serif !important;
}

.text p {
  font-size: 22px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
  font-family: 'Palanquin', sans-serif !important;
  font:bolder;
}

.name {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translateY(-50%);
  font-size: 90px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  
}

.bottomnav {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37)
}

.bottomnav ul li:nth-child(2) {
  font-weight: bolder;
}

.bottomnav ul li:nth-child(2)::before {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 -78px;
  transform: translateY(-3px);
}

.bg-dark {
  --bs-bg-opacity: 50% !important;
  width: 100%;
  height: 6%;
  border-style: solid;
  border-width: 2px;
  border-top-left-radius: 0.375rem !important; /* 6px */
  border-top-right-radius: 0.375rem !important; /* 6px */
  box-shadow: 0 3px 30px 8px rgba(0, 0, 0, 0.281) !important;
  backdrop-filter: blur(5px)
}


#addBtn {


  background-color: rgb(0, 0, 0);
  color: white;
}

.row {
  position: fixed; /* Stay in place */
  left: 0;
  top: 10;
  overflow: auto; /* Enable scroll if needed */
  padding-left: 20px;

  justify-content: center;
}

.col-md-8, .col-md-4 {
  display: grid;
  justify-content: center;
  align-content: center;

}

.form-control {

  width: 100%;
  width: 350px;
}

.rounded {

  backdrop-filter: blur(11px)
}

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(38deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #051d1e calc(60% + 1px), #3a2124 70%, #ffb3c8 calc(70% + 1px), #ff0000 100%);
  background-size: 162% 142%;
  animation: gradient 60s linear infinite;
  animation-direction: alternate;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {background-position: 70%}
  100% {background-position: 100%}
}


.display-2 {
  color: white;
  text-shadow: 0px 2px 8px #000;
  display: grid;
  justify-content: center;
  font-family: 'Palanquin', sans-serif !important;
  text-align: center;
}

p {
  --bs-text-opacity: 1;
  color: #ffffffb6 !important;

}

.ui.menu .item {
  color: rgb(0, 0, 0) !important;
}

label {
  color: white !important;
}

h1 {

  color: white !important;
}

.btn-danger {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;

}

.btn-light:hover {
  color: #ffffff !important;
  background-color: #161e20 !important;
  border-color: #161e20 !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn-dark:hover {
  color: #161e20 !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


#updt:hover {
  color: #161e20 !important;
  background-color: rgb(191, 240, 255) !important;
  border-color: rgb(191, 240, 255) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}



#addBtn:hover {

  color: #161e20 !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

.btn-danger:hover {

  color: #dc3545 !important;
  background-color: #161e20 !important;
  border-color: #161e20 !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

.glyphicon-ok {
  color: rgb(24, 107, 13) !important;
}

#itemz {

  color: white !important;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37) !important;
}

.btn-default:hover {
  color: #161e20 !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#userz {
  padding-top: 15px !important;
  color: white !important;
  font-size: 12px !important;
}

#loginz  {
  font-family: 'Palanquin', sans-serif !important;
  font-weight:100 !important;
  display: grid;
  justify-content: center;
  align-content: center;

}

#regist  {
  font-family: 'Palanquin', sans-serif !important;
  font-weight:100 !important;
  display: flex !important;
  justify-content: center !important;

}


.btn-outline-warning:hover {
  color: #000000 !important;
  background-color: rgb(255, 196, 0) !important;
  border-color:  rgb(255, 196, 0) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-warning:hover {
  color: black!important;
  background-color: transparent !important;
  border-color:  rgb(255, 196, 0) !important;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.alert-info {
  display: grid !important;
    justify-content: center !important;
}

#dropdownMenuButton {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: black;
}

#dropdownMenuButton:hover {
  background-color: rgba(0, 0, 0, 0.39);
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.418);
}

#inputz {

  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-top-left-radius: 0.375rem !important; /* 6px */
  border-top-right-radius: 0.375rem !important; /* 6px */
  box-shadow: 0 3px 30px 8px rgba(0, 0, 0, 0.281) !important;
  backdrop-filter: blur(5px);
  color: white;
}

#inputz:hover {

  background-color: rgb(0, 0, 0);
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-top-left-radius: 0.375rem !important; /* 6px */
  border-top-right-radius: 0.375rem !important; /* 6px */
  box-shadow: 0 3px 30px 8px rgba(0, 0, 0, 0.281) !important;
  backdrop-filter: blur(5px);
  color: white;
}

